.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.flex-sub-container {
  margin: 1rem;
  width: 98%;
}
.row-container {
  flex-direction: row;
  width: 95%;
}
